body {
  font-family: 'Montserrat';
  background-color: $c-bg;
  user-select: none;
  color: $c-text;
}

.image {
  width: 50%;
  margin: 0 auto;
  height: 500px;
  background-size: cover;
  background-image: url(img/igor.jpg);
}